doctype
html
  head
    title Raspberry Pi Interface
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
    link(rel='stylesheet', href="/css/interface.css")
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="/js/interface.js")
  body
    .container
      h1 Raspberry Pi Interface
      .row.voffset
        .col-md-6
          div Cpu Temperature
        .col-md-6
          button(type="button", class="btn btn-block btn-lg btn-primary", onclick="window.open('http://82.246.251.82:8001/', '_blank');") Track CPU temperature
      .row.voffset
        .col-md-4
          div Electrical Plug D
        .col-md-4
          button.btn.btn-block.btn-lg.btn-primary#switch-on Switch On
        .col-md-4
          button.btn.btn-block.btn-lg.btn-primary#switch-off Switch Off
      .row.voffset
        .col-md-6
          div Camera
        .col-md-6
          button.btn.btn-block.btn-lg.btn-primary#picture Take Picture
      .row.voffset
        .col-md-6
          img#camera(width=640, height=360)
